<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>CASIO F-91W</title>
    <link rel="stylesheet" href="/stylesheets/main.css" type="text/css" />
  </head>
  <body>
    <div class='container'>
      <div class='content'>
        <div class='img'>
          <img src="/images/casio-f-91w4.jpg" alt="casio f91w" title='CASIO F-91W' />
        </div>
        <div class='text'>
          <h1>CASIO <span>F-91W</span></h1>
          <p class='quote'><i>I'm the coolest watch in the world</i></p>
        </div>
      </div>
      <div class='footer'>
        <a href="http://twitter.com/mechanicles" class='me'> I </a> <span> &#9829; </span> this awesome watch :)
        <br />
        <br />
        <a href="https://twitter.com/share" class="twitter-share-button" data-text="World's coolest watch 'Casio F-91W'" data-hashtags="f91w">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </div>
  </body>
</html>
